/*Info hotel*/
 h1,h2 {color:#58D3F7;}

 /*Fondo y logotipo barra navegacion*/
 #logotipe {width:65px;}
 .navbar img {}
 .navbar {background-image: linear-gradient(to bottom, #F1F8E0 0px, #58D3F7 100%);}

/*Mapa , lista de hoteles, panel arrastrar favoritos, info hoteles*/
 #map {width: 25%;height: 200px;float:right;margin-left: 4%; margin-top:7%;}
 #list {border : solid 2px #58D3F7;padding : 4px;width : 25%;height : 300px;overflow : scroll; float:right;margin-top:7%;}
 #desc {margin: 0 auto; width: 50%; float:left;margin-top:7%;}
 #favs {float:left;width : 40%; text-align: center;margin-top:7%;}


/**Carousel de las imagenes del banner**/
.carousel-inner { text-align: center; }
.carousel .item > img { display: inline-block; }
.carousel-control.left {background-image: linear-gradient(to right, #58D3F7 0px, transparent 100%);}
.carousel-control.right {background-image: linear-gradient(to left, #58D3F7 0px, transparent 100%);}
#myCarousel {margin-top:7%;}

/*div que contiene toda la página*/
 #container {width: 90%; max-width: 1100px; margin: auto;}




